*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(to right,hsl(250,85%,10%), 
                hsl(300,85%,10%));
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 20px;
}

.tenzies--container{
    background-color: hsl(10,25%,85%);
    max-width: 800px;
    min-height:500px;
    margin: 40px auto;
    border: 1px solid hsl(300,85%,10%); 
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.tenzies--grid{
    display: grid;
    grid-template: auto auto / repeat(5,1fr);
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 20px;  
    max-width: 500px; 
}

.tenzies--title{
    font-size: 40px;
    margin:0;
    margin-bottom: 10px;
    color:hsl(250,85%,10%);
    text-transform: uppercase;
    text-shadow:2px 2px hsl(250,85%,10%) ;
}

.tenzies--instruction{
    font-size: 20px;
    margin: 10px auto;
    text-align: center;
}

.dice--look{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    /* background-color: hsl(0,0%,95%); */
    border:1px solid hsl(10,25%,85%);
    box-shadow: 0 0 15px 0 hsl(10,25%,45%);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    
}


.dice--look:hover{

    /* background-color:hsl(300,85%,30%); */
    color:hsl(300,85%,30%);
    box-shadow: 0 0 20px 0 hsl(250,100%,20%);
    outline-style:dotted;
    animation: shake 300ms;
}

.grid--button{
    margin-top:30px;
    border: none;
    outline: none;
    background-color: hsl(250,100%,25%);
    padding: .5em 1em;
    border-radius: .5em;
    font-size: 1.1em;
    color: white;
    cursor: pointer;
    margin: auto 0;
    
}

.grid--button:hover{
    background-color:hsl(300,85%,30%) ;
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 hsl(300,100%,25%);
}

.tenzies--totRoll{
    font-size: 20px;
    margin-top: 15px;
    font-weight:bold;
    color:hsl(250,85%,10%);

}

.rollNTime--container{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    


@keyframes shake{
    25%{
        transform: rotate(5deg);
    }
    75%{ 
        transform: rotate(-5deg);
    }
}


@media (max-width:500px){

    .tenzies--grid{   
        grid-template: auto auto / repeat(2, 1fr);
    }
}
